[lucene]
# The output directory for Lucene indexes.
dir={{indexes}}

# The local host name that couchdb-lucene binds to
host={{host}}

# The port that couchdb-lucene binds to.
port={{port}}

# Timeout for requests in milliseconds.
timeout={{request_timeout}}

# Timeout for changes requests.
# changes_timeout={{changes_timeout}}

# Default limit for search results
limit={{default_result_limit}}

# Allow leading wildcard?
allowLeadingWildcard={{allow_leading_wildcard}}

# couchdb server mappings

[local]
url={{couchdb_url}}
